* {
  box-sizing: border-box;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  color: white;
	font-family: 'Slabo 27px', serif;
	perspective: 800px;
  text-rendering: optimizeLegibility;
}

.pvd-app {
  height: 100vh;
  width: 100vw;
}
